@charset "UTF-8";

/* # =================================================================
   # Global
   # ================================================================= */

html {
   font-size: 100%;
}

body {
   font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
   line-height: 1.7;
   color: #432;
}

a {
   text-decoration: none;
}

img {
   max-width: 100%;
}

.wrapper {
   max-width: 1280px;
   margin: 0 auto;
   padding: 0 4%;
}

/* 見出し */

.page-title {
   font-size: 5rem;
   font-family: 'philosopher', serif;
   text-transform: uppercase;
   font-weight: normal;
}

/* ボタン */

.button {
   font-size: 1.375rem;
   background: #0bd;
   color: #fff;
   border-radius: 4px;
   padding: 18px 32px;
}
.button:hover {
   background: #0090aa;
}

@media all and (max-width: 767px) {
   .page-title {
      font-size: 2.5rem;
   }
}

/* # =================================================================
   # Header
   # ================================================================= */

.header {
   display: flex;
   justify-content: space-between;
}

.header__logo {
   width: 210px;
   margin-top: 14px;
}

.header__nav {
   display: flex;
   font-size: 1.2rem;
   letter-spacing: 0.4em;
   text-transform: uppercase;
   margin-top: 34px;
   list-style: none;
}
.header__nav li {
   margin-left: 36px;
}
.header__nav a {
   color: #432;
}
.header__nav a:hover {
   color: #0bd;
}

@media all and (max-width: 767px) {
   .header {
      flex-direction: column;
      align-items: center;
   }

   .header__nav {
      font-size: 1rem;
      margin-top: 10px;
   }

   .header__nav li {
      margin: 0 20px;
   }
}

/* # =================================================================
   # Home
   # ================================================================= */

#home {
   background-image: url("../assets/main-bg.jpg");
   min-height: 100vh;
}

#home .page-title {
   text-transform: none;
}

.main-bg {
   background-size: cover;
   background-position: center top;
   background-repeat: no-repeat;
}

.home__content {
   text-align: center;
   margin-top: 10%;
}
.home__content p {
   font-size: 1.125rem;
   margin: 10px 0 42px;
}

@media all and (max-width: 767px) {
   .home__content {
      margin-top: 20%;
   }
}