.section1-p1-bold {
    font-weight: bold;
}

.section2-p1-italic {
    font-weight: bold;
    font-style: italic;
}

.section3-p1-underline {
    text-decoration: underline;
}

.section3-p1-overline {
    text-decoration: overline;
}

.section3-p1-line-through {
    text-decoration: line-through;
}