/* HEADER */

.header {
    width: 100%;
    background: #e6ecf1;
}
.header__wrap {
    /* Flex で並べてロゴとナビゲーションを `space-between` で左右端に配置する、垂直方向には真ん中揃え */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* pdding やボーダーを高さに含める */
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 48px;
    /* 幅は 1280px までにして見やすくする、それ以降は親要素の `.header` だけのびるようにする */
    max-width: 1280px;
    height: 80px;
}

.header__logo {
    width: 220px;
}
.header__logo img {
    width: 100%;
}

.header__nav {
    display: flex;
}
.header__nav-item {
    margin-left: 36px;
}
.header__nav-item a {
    color: #006a80;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.2em;
    text-decoration: none;
}

.header__navsp {
    /* PC 表示では使用しないため非表示にする */
    display: none;
}

/* MAIN VISUAL */

.mv {
    width: 100%;
    height: 780px;
    background-image: url("https://images.unsplash.com/photo-1610377551984-9dc3f82aa31f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=100");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.mv__wrap {
    position: relative;
    margin: 0 auto;
    /* 最大値を設定して、背景画像だけ大きくなるように指定する */
    max-width: 1280px;
}

.mv__texts {
    position: absolute;
    /* % でやった方がいい場合もある */
    top: 108px;
    left: 64px;
    color: #fff;
}
.mv__texts-title {
    font-size: 28px;
    letter-spacing: 0.2em;
    line-height: 1;
}
.mv__texts-p {
    padding-top: 24px;
    padding-left: 4px;
    font-size: 16px;
    letter-spacing: 0.2em;
    line-height: 2.25;
}

/* NEWS */

.news {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 80px 48px;
    max-width: 1280px;
}

.news__title {
    font-size: 30px;
    letter-spacing: 0.2em;
    line-height: 1;
    font-weight: bold;
    color: #8fc0ca;
}

.news__body {
    padding-top: 28px;
}
.news__body-item {
    /* 子要素を横並びに指定 */
    display: flex;
    font-size: 14px;
    letter-spacing: 0.2em;
    line-height: 2.25;
}
.news__body-item-date {
    padding-right: 24px;
}

/* RESPONSIVE */

@media all and (max-width: 767px) {
    /* HEADER */

    .header {
        /* SP の時は上部に固定 */
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        /* 最前面に指定 */
        z-index: 100;
    }
    .header__wrap {
        padding-right: 24px;
        padding-left: 12px;
        height: 50px;
    }

    .header__logo {
        width: 128px;
    }

    .header__nav {
        /* 逆に SP の時は PC 用のを隠す */
        display: none;
    }

    .header__navsp {
        position: relative;
        display: block;
        width: 20px;
        height: 20px;
    }

    .header__navsp-line {
        position: absolute;
        left: 2px;
        background: #006a80;
        width: 16px;
        height: 1px;
    }
    .header__navsp-line--1 {
        top: 3px;
    }
    .header__navsp-line--2 {
        top: 9px;
    }
    .header__navsp-line--3 {
        top: 15px;
    }

    /* MAIN VISUAL */

    .mv {
        width: 100%;
        height: 524px;
        /* スマホ用の画像に切り替える */
        background-image: url("https://images.unsplash.com/photo-1610377551984-9dc3f82aa31f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=100");
    }

    .mv__texts {
        position: absolute;
        top: 80px;
        left: 24px;
    }
    .mv__texts-title {
        font-size: 20px;
    }
    .mv__texts-p {
        padding-top: 20px;
        padding-left: 3px;
        font-size: 11px;
        line-height: 2;
    }

    /* NEWS */

    .news {
        padding: 40px 16px;
    }

    .news__title {
        font-size: 18px;
        text-align: center;
    }

    .news__body {
        padding-top: 12px;
    }
    .news__body-item {
        padding-top: 8px;
        font-size: 10px;
        line-height: 1.8;
    }
    .news__body-item-date {
        padding-right: 24px;
    }
}