/* GLOBAL */

.head-text {
    font-size: 32px;
    letter-spacing: 0.2em;
    line-height: 1;
    font-weight: bold;
    color: #8fc0ca;
}

.link-more {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #444444;
    width: 364px;
    height: 50px;
    font-size: 14px;
    letter-spacing: 0.2em;
    line-height: 1;
    text-decoration: none;
    color: #444444;
}

@media all and (max-width: 767px) {

    .head-text {
        font-size: 19px;
    }

    .link-more {
        width: 250px;
        height: 34px;
        font-size: 11px;
    }
}

/* HEADER */

.header {
    width: 100%;
    background: #e6ecf1;
}
.header__wrap {
    /* Flex で並べてロゴとナビゲーションを `space-between` で左右端に配置する、垂直方向には真ん中揃え */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* pdding やボーダーを高さに含める */
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 48px;
    /* 幅は 1280px までにして見やすくする、それ以降は親要素の `.header` だけのびるようにする */
    max-width: 1280px;
    height: 80px;
}

.header__logo {
    width: 220px;
}
.header__logo img {
    width: 100%;
}

.header__nav {
    display: flex;
}
.header__nav-item {
    margin-left: 36px;
}
.header__nav-item a {
    color: #006a80;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.2em;
    text-decoration: none;
}

.header__navsp {
    /* PC 表示では使用しないため非表示にする */
    display: none;
}

@media all and (max-width: 767px) {
    .header {
        /* SP の時は上部に固定 */
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        /* 最前面に指定 */
        z-index: 100;
    }
    .header__wrap {
        padding-right: 24px;
        padding-left: 12px;
        height: 50px;
    }

    .header__logo {
        width: 128px;
    }

    .header__nav {
        /* 逆に SP の時は PC 用のを隠す */
        display: none;
    }

    .header__navsp {
        position: relative;
        display: block;
        width: 20px;
        height: 20px;
    }

    .header__navsp-line {
        position: absolute;
        left: 2px;
        background: #006a80;
        width: 16px;
        height: 1px;
    }
    .header__navsp-line--1 {
        top: 3px;
    }
    .header__navsp-line--2 {
        top: 9px;
    }
    .header__navsp-line--3 {
        top: 15px;
    }
}

/* MAIN VISUAL */

.mv {
    width: 100%;
    height: 780px;
    background-image: url("https://images.unsplash.com/photo-1610377551984-9dc3f82aa31f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=100");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.mv__wrap {
    position: relative;
    margin: 0 auto;
    /* 最大値を設定して、背景画像だけ大きくなるように指定する */
    max-width: 1280px;
}

.mv__texts {
    position: absolute;
    /* % でやった方がいい場合もある */
    top: 108px;
    left: 64px;
    color: #fff;
}
.mv__texts-title {
    font-size: 28px;
    letter-spacing: 0.2em;
    line-height: 1;
}
.mv__texts-p {
    padding-top: 24px;
    padding-left: 4px;
    font-size: 16px;
    letter-spacing: 0.2em;
    line-height: 2.25;
}

@media all and (max-width: 767px) {
    .mv {
        width: 100%;
        height: 524px;
        /* スマホ用の画像に切り替える */
        background-image: url("https://images.unsplash.com/photo-1610377551984-9dc3f82aa31f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=100");
    }

    .mv__texts {
        position: absolute;
        top: 80px;
        left: 24px;
    }
    .mv__texts-title {
        font-size: 20px;
    }
    .mv__texts-p {
        padding-top: 20px;
        padding-left: 3px;
        font-size: 11px;
        line-height: 2;
    }
}

/* NEWS */

.news {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 80px 48px;
    max-width: 1280px;
}

.news__title {
    font-size: 30px;
    letter-spacing: 0.2em;
    line-height: 1;
    font-weight: bold;
    color: #8fc0ca;
}

.news__body {
    padding-top: 28px;
}
.news__body-item {
    /* 子要素を横並びに指定 */
    display: flex;
    font-size: 14px;
    letter-spacing: 0.2em;
    line-height: 2.25;
}
.news__body-item-date {
    padding-right: 24px;
}

@media all and (max-width: 767px) {
    .news {
        padding: 40px 16px;
    }

    .news__title {
        font-size: 18px;
        text-align: center;
    }

    .news__body {
        padding-top: 12px;
    }
    .news__body-item {
        padding-top: 8px;
        font-size: 10px;
        line-height: 1.8;
    }
    .news__body-item-date {
        padding-right: 24px;
    }
}

/* MESSAGE */

.message {
    background: #ebf6f8;
    padding: 80px 0;
}

.message__body {
    text-align: center;
}
.message__body-title {
    font-size: 36px;
    letter-spacing: 0.2em;
    line-height: 1;
    color: #4a8c9c;
}
.message__body-p {
    padding-top: 40px;
    font-size: 14px;
    letter-spacing: 0.2em;
    line-height: 1;
}

@media all and (max-width: 767px) {
    .message {
        padding: 48px 0;
    }

    .message__body-title {
        font-size: 20px;
    }

    .message__body-p {
        padding-top: 16px;
        font-size: 11px;
    }

}

/* ABOUT */

.about {
    margin: 0 auto;
    padding: 40px 0;
    max-width: 1280px;
}

.about__title {
    padding: 24px 48px;
}

.about__body-item {
    display: flex;
    align-items: center;
    padding: 8px 0;
}
.about__body-item-image {
    width: 46%;
}
.about__body-item-image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.about__body-item-texts {
    box-sizing: border-box;
    padding: 0 7.8%;
    width: 54%;
}
.about__body-item-texts-copy {
    color: #006a80;
    font-size: 26px;
    letter-spacing: 0.2em;
    line-height: 1;
    font-weight: bold;
}
.about__body-item-texts-p {
    padding-top: 24px;
    font-size: 14px;
    letter-spacing: 0.2em;
    line-height: 1.8;
}

.about__body-more {
    padding-top: 60px;
}
.about__body-more a {
    margin: 0 auto;
}

@media all and (max-width: 767px) {
    .about {
        padding: 24px 0;
    }

    .about__title {
        padding-left: 0;
        padding-bottom: 24px;
        text-align: center;
    }

    .about__body-item {
        /* 縦並びに変更 */
        flex-direction: column;
    }
    .about__body-item--reverse {
        /* 逆にした並びを元に戻す */
        flex-direction: column-reverse;
    }
    .about__body-item-image {
        width: 100%;
    }
    .about__body-item-image img {
        height: 200px;
    }
    .about__body-item-texts {
        padding: 24px 12px 48px 12px;
        width: 100%;
    }
    .about__body-item-texts-copy {
        font-size: 16px;
    }
    .about__body-item-texts-p {
        padding-top: 12px;
        font-size: 10px;
    }

    .about__body-more {
        padding-top: 0;
    }
}

/* INTERVIEW */

.interview {
    margin: 0 auto;
    padding-top: 80px;
    max-width: 1280px;
}

.interview__title {
    padding-left: 48px;
    padding-bottom: 36px;
}

.interview__body {
    display: flex;
    justify-content: space-between;
}

.interview__body-item a {
    text-decoration: none;
    color: #444444;
}
.interview__body-item-image {
    position: relative;
    overflow: hidden;
    padding-top: 60%;
    width: 100%;
}
.interview__body-item img {
    position: absolute;
    top: 50%;
    left: 50%;
    object-fit: cover;
    width: 100%;
    height: auto;
    transform: translate(-50%, -50%);
}
.interview__body-item-texts {
    padding: 28px 40px;
}
.interview__body-item-texts-title {
    font-size: 22px;
    letter-spacing: 0.2em;
    line-height: 1.8;
    font-weight: bold;
}
.interview__body-item-texts-p {
    padding-top: 16px;
    font-size: 14px;
    letter-spacing: 0.2em;
    line-height: 1.8;
}

@media all and (max-width: 767px) {
    .interview {
        padding-top: 60px;
    }

    .interview__title {
        padding-left: 0;
        padding-bottom: 36px;
        text-align: center;
    }

    .interview__body {
        flex-wrap: wrap;
    }

    .interview__body-item {
        width: calc(50% - 1px);
    }
    .interview__body-item-texts {
        padding: 16px 8px;
    }
    .interview__body-item-texts-title {
        font-size: 11px;
    }
    .interview__body-item-texts-p {
        padding-top: 4px;
        font-size: 10px;
    }
}

/* GALLERY */

.gallery {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 50px 50px 0 50px;
    max-width: 1280px;
}

.gallery__title {
    text-align: center;
}

.gallery__body {
    padding-top: 40px;
}

.gallery__body-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery__body-item {
    padding-top: 4px;
    width: calc(20% - 4px);
    height: 20%;
}
.gallery__body-item-image {
    position: relative;
    overflow: hidden;
    padding-top: 60%;
    width: 100%;
}
.gallery__body-item img {
    position: absolute;
    top: 50%;
    left: 50%;
    object-fit: cover;
    width: 100%;
    height: auto;
    transform: translate(-50%, -50%);
}

.gallery__body-more {
    padding-top: 60px;
}
.gallery__body-more a {
    margin: 0 auto;
}

@media all and (max-width: 767px) {
    .gallery {
        padding: 24px 12px 0 12px;
    }

    .gallery__body {
        padding-top: 40px;
    }

    .gallery__body-item {
        padding-top: 4px;
        width: calc(33% - 2px);
    }

    .gallery__body-more {
        padding-top: 40px;
    }
}

/* CONTACT */

.contact {
    padding-top: 100px;
}

.contact__body a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1467703834117-04386e3dadd8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=100");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-decoration: none;
    width: 100%;
    height: 220px;
}

.contact__body-title {
    color: #fff;
    text-align: center;
    font-size: 14px;
    letter-spacing: 0.2em;
    line-height: 1;
}
.contact__body-title::before {
    content: "CONTACT";
    display: block;
    padding-bottom: 8px;
    font-size: 2em;
}

@media all and (max-width: 767px) {
    .contact {
        padding-top: 60px;
    }

    .contact__body a {
        height: 128px;
    }

    .contact__body-title {
        font-size: 10px;
    }
}

/* FOOTER */

.footer__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 40px;
    max-width: 1280px;
    height: 80px;
}

.footer__nav {
    display: flex;
}

.footer__nav-item {
    padding-right: 8px;
}
.footer__nav-item a {
    font-size: 14px;
    letter-spacing: 0.2em;
    line-height: 1;
    text-decoration: none;
    color: #444444;
}

.footer__credit {
    font-size: 14px;
    letter-spacing: 0.1em;
    line-height: 1;
}

@media all and (max-width: 767px) {
    .footer__wrap {
        flex-direction: column;
        justify-content: center;
        height: 64px;
    }

    .footer__nav-item a {
        font-size: 10px;
    }

    .footer__credit {
        font-size: 10px;
        padding-top: 12px;
    }
}